// start
<div class="relative min-h-225 pt-30 overflow-hidden max-lg:min-h-210 max-lg:pt-24 max-md:min-h-103 max-md:pt-14">
    <div class="absolute top-0 left-1/2 -translate-x-[51%] rotate-12 w-[120vw] mask-[radial-gradient(88.47%_97.89%_at_53.08%_1.39%,rgba(217,217,217,0)_43.12%,#737373_100%)] max-[1520px]:w-[140vw] max-2xl:w-420 max-md:w-280">
        video(class="w-full -mt-108  max-4xl:-mt-100 max-3xl:-mt-77 max-[1520px]:-mt-90 max-2xl:-mt-60 max-lg:-mt-80 max-md:-mt-40" src=require('Videos/video-2.mp4') autoplay loop muted playsinline)
    </div>
    <div class="center !max-w-155 relative z-3 text-center" data-aos="fade">
        <div class="mb-3 text-title-1 max-lg:text-title-2 max-md:max-w-60 max-md:mx-auto max-md:text-title-1-mobile">
            <span class="text-green">Try</span><span class="bg-radial-white-2 bg-clip-text text-transparent"> It Now</span>
        </div>
        <div class="mb-7.5 text-description max-md:mb-5">Start your DeFi journey with a visual transaction flow. Design, simulate, and float your Kratong on-chain.</div>
        <a class="btn btn-primary flex items-center justify-center gap-2 mx-auto" href="https://app.kratong.io/"><span>+</span> Create New Kratong</a>
    </div>
    <div>
        <div class="absolute z-1 top-84.5 -left-29.5 size-99 bg-green/20 rounded-full blur-[6.75rem] max-md:size-46 max-md:top-67 max-md:-left-32.5"></div>
        <div class="absolute z-1 top-44.5 -right-41.5 size-99 bg-green/20 rounded-full blur-[6.75rem] max-md:size-46 max-md:top-48 max-md:-right-43"></div>
    </div>
</div>