@import "tailwindcss";
@plugin "tailwind-scrollbar";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 767px;
  --breakpoint-lg: 1023px;
  --breakpoint-xl: 1259px;
  --breakpoint-2xl: 1419px;
  --breakpoint-3xl: 1719px;
  --breakpoint-4xl: 1899px;
  --color-description: rgba(255, 255, 255, 0.6);
  --color-black: #051117;
  --color-line: rgba(255, 255, 255, 0.1);
  --color-green: #7ae2cf;
  --color-content: rgba(5, 17, 23, 0.5);
  --default-transition-duration: 0.2s;
  --font-helvetica: "Helvetica", sans-serif;
  --default-border-width: 0.0375rem;
  --text-0: 0;
  --text-big-title-1: 6.25rem;
  --text-big-title-1--line-height: normal;
  --text-big-title-1--letter-spacing: -0.03em;
  --text-big-title-1--font-weight: 400;
  --text-big-title-2: 4.75rem;
  --text-big-title-2--line-height: normal;
  --text-big-title-2--letter-spacing: -0.03em;
  --text-big-title-2--font-weight: 400;
  --text-title-1: 4rem;
  --text-title-1--line-height: normal;
  --text-title-1--letter-spacing: -0.03em;
  --text-title-1--font-weight: 400;
  --text-title-2: 2.75rem;
  --text-title-2--line-height: 4rem;
  --text-title-2--letter-spacing: -0.03em;
  --text-title-2--font-weight: 400;
  --text-title-3: 1.25rem;
  --text-title-3--line-height: normal;
  --text-title-3--letter-spacing: -0.01em;
  --text-title-3--font-weight: 400;
  --text-title-4: 1.125rem;
  --text-title-4--line-height: normal;
  --text-title-4--letter-spacing: -0.01em;
  --text-title-4--font-weight: 400;
  --text-title-5: 1rem;
  --text-title-5--line-height: normal;
  --text-title-5--letter-spacing: -0.01em;
  --text-title-5--font-weight: 400;
  --text-description-1: 1rem;
  --text-description-1--line-height: 1.5rem;
  --text-description-1--letter-spacing: 0;
  --text-description-1--font-weight: 400;
  --text-description-2: 0.875rem;
  --text-description-2--line-height: 1.375rem;
  --text-description-2--letter-spacing: 0;
  --text-description-2--font-weight: 400;
  --text-description-3: 0.75rem;
  --text-description-3--line-height: 1.25rem;
  --text-description-3--letter-spacing: 0;
  --text-description-3--font-weight: 400;
  --text-big-title-mobile: 2.5rem;
  --text-big-title-mobile--line-height: normal;
  --text-big-title-mobile--letter-spacing: -0.03em;
  --text-big-title-mobile--font-weight: 400;
  --text-title-1-mobile: 2.125rem;
  --text-title-1-mobile--line-height: normal;
  --text-title-1-mobile--letter-spacing: -0.03em;
  --text-title-1-mobile--font-weight: 400;
  --text-title-2-mobile: 1rem;
  --text-title-2-mobile--line-height: normal;
  --text-title-2-mobile--letter-spacing: -0.01em;
  --text-title-2-mobile--font-weight: 400;
  --text-title-3-mobile: 0.875rem;
  --text-title-3-mobile--line-height: normal;
  --text-title-3-mobile--letter-spacing: -0.01em;
  --text-title-3-mobile--font-weight: 400;
  --text-title-4-mobile: 0.75rem;
  --text-title-4-mobile--line-height: normal;
  --text-title-4-mobile--letter-spacing: -0.01em;
  --text-title-4-mobile--font-weight: 400;
  --text-description-mobile: 0.75rem;
  --text-description-mobile--line-height: 1.25rem;
  --text-description-mobile--letter-spacing: 0;
  --text-description-mobile--font-weight: 400;
  --background-image-radial-white-1: radial-gradient(
    67.66% 67.65% at 50.07% 32.35%,
    #fff 0,
    rgba(255, 255, 255, 0.5) 100%
  );
  --background-image-radial-white-2: radial-gradient(
    50% 120.52% at 50% 5.22%,
    #fff 48.91%,
    rgba(255, 255, 255, 0.5) 100%
  );
  --background-image-radial-gray: radial-gradient(
    50% 120.52% at 50% 5.22%,
    rgba(255, 255, 255, 0.3) 48.91%,
    rgba(255, 255, 255, 0.15) 100%
  );
  --shadow-1: 0.0625rem 0.0625rem 0.0625rem 0 rgba(255, 255, 255, 0.1) inset,
    0 0 6.25rem 0 rgba(255, 255, 255, 0.15) inset;
  --shadow-2: 0.0625rem 0.0625rem 0.0625rem 0 rgba(255, 255, 255, 0.1) inset,
    0 0 6.25rem 0 rgba(255, 255, 255, 0.1) inset;
  --shadow-3: 0.0625rem 0.0625rem 0.0625rem 0 rgba(255, 255, 255, 0.1) inset,
    0 0 0.625rem 0 rgba(255, 255, 255, 0.1) inset;
}

@layer components {
  .btn {
    @apply relative inline-flex justify-center items-center h-10 px-3.5 rounded-lg text-title-5 cursor-pointer transition-all;
  }
  .btn-primary {
    @apply bg-white text-black hover:bg-white/90;
  }
  .btn-secondary {
    @apply shadow-[0.0625rem_0.0625rem_0.0625rem_0_rgba(255,255,255,0.10)_inset] text-white after:absolute after:inset-0 after:border after:border-line after:rounded-lg after:pointer-events-none after:transition-colors hover:after:border-white;
  }
  .input {
    @apply w-full h-11 px-5.5 border-[1px] border-line rounded-xl text-description-1 text-white transition-colors outline-0 focus:border-white/60;
  }
  .center {
    @apply max-w-360 w-full mx-auto px-20 max-xl:px-10 max-md:px-5;
  }
  .label {
    @apply inline-flex items-center h-8 px-3.5 rounded-lg bg-gradient-to-b from-black/15 to-white/15 shadow-[0.0625rem_0.0625rem_0.0625rem_0_rgba(255,255,255,0.10)_inset,_0_0_0.625rem_0_rgba(255,255,255,0.10)_inset] text-title-5 max-md:h-8 max-md:text-title-3-mobile;
  }
  .header-wrap {
    @apply max-md:invisible max-md:opacity-0;
  }
  .header-wrap.visible {
    @apply max-md:visible max-md:opacity-100;
  }
  .header-body {
    @apply invisible opacity-0 transition-all max-md:hidden;
  }
  .header-dropdown.active .header-head {
    @apply !text-white;
  }
  .header-dropdown.active .header-body {
    @apply visible opacity-100 max-md:block;
  }
  .accordion-item.active .accordion-head svg {
    @apply rotate-180;
  }
  .tabs-button.active {
    @apply bg-line shadow-3 !text-white;
  }
  .swiper-features .swiper-slide .swiper-icon {
    @apply transition-opacity opacity-50 max-md:opacity-0;
  }
  .swiper-features .swiper-slide.swiper-slide-next .swiper-icon {
    @apply opacity-100 max-md:opacity-50;
  }
  .swiper-features .swiper-slide.swiper-slide-next .swiper-line {
    @apply !opacity-100 before:!opacity-100 max-md:!opacity-50 max-md:before:!opacity-0;
  }
  .swiper-features .swiper-slide.swiper-slide-next .swiper-circle {
    @apply after:!bg-green before:!opacity-100 max-md:after:!bg-[#374145] max-md:before:!opacity-0;
  }
  .swiper-features .swiper-slide.swiper-slide-active .swiper-icon {
    @apply max-md:opacity-100;
  }
  .swiper-features .swiper-slide.swiper-slide-active .swiper-line {
    @apply max-md:!opacity-100 max-md:before:!opacity-100;
  }
  .swiper-features .swiper-slide.swiper-slide-active .swiper-circle {
    @apply max-md:after:!bg-green max-md:before:!opacity-100;
  }
  .swiper-features .swiper-button-prev,
  .swiper-features .swiper-button-next {
    @apply !-top-37.5 !size-7.5 !mt-0 rounded-lg !opacity-100 shadow-[0.0625rem_0.0625rem_0.0625rem_0_rgba(255,255,255,0.20)_inset] bg-line border border-line after:hidden transition-all hover:bg-white/20 max-xl:!-top-46 max-lg:!-top-27 max-lg:!hidden;
  }
  .swiper-features .swiper-button-disabled {
    @apply !opacity-50;
  }
  .swiper-features .swiper-button-prev {
    @apply !left-auto !right-10;
  }
  .swiper-features .swiper-button-next {
    @apply !right-0;
  }
  .swiper-features .swiper-button-prev:before,
  .swiper-features .swiper-button-next:before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath d='M11.824 5.646l.707.707L8.884 10l3.647 3.646-.707.707-4-4L7.47 10z' fill='%23ffffff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px auto;
  }
  .swiper-features .swiper-button-next:before {
    transform: rotate(180deg);
  }
}

[data-aos="fade"] {
  opacity: 0;
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
  }
}
